<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="WidgetWithTitle" />

<f:section name="main">
    <table class="widget-table">
        <thead>
        <tr>
            <th><f:translate key="widgets.lastLogins.date" extensionName="dashboard" /></th>
            <th><f:translate key="widgets.lastLogins.user" extensionName="dashboard" /></th>
            <th><f:translate key="widgets.lastLogins.ip" extensionName="dashboard" /></th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{items}" as="item">
            <tr>
                <td><f:format.date format="%d-%m-%Y %H:%M">{item.tstamp}</f:format.date></td>
                <td>{item.user}</td>
                <td>{item.ip}</td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:section>

</html>
