<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="WidgetWithTitle" />

<f:section name="main">
    <table>
        <thead>
        <tr>
            <th><f:translate key="widgets.pagesWithoutDescription.page" extensionName="dashboard" /></th>
            <th><f:translate key="widgets.pagesWithoutDescription.slug" extensionName="dashboard" /></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{items}" as="item">
            <tr>
                <td>{item.page}</td>
                <td>{item.slug}</td>
                <td>
                    <f:be.link route="web_layout" parameters="{id: item.id}"><core:icon identifier="actions-open" /></f:be.link>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:section>

</html>
