.widget-cta {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $block-gutter / 2;
	background-color: $primary-color;
	font-weight: 600;
	font-size: 14px;
	color: #000;

	&:hover,
	&:focus {
		background-color: $primary-color-light;
	}
}

.widget-cta-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	margin-right: 12px;
	color: #000;
}
