.dashboard-widget-number--icon {
	display: inline-block;
	float: left;
	width: 50px;
}

.dashboard-widget-number--content {
	display: inline-block;
	float: left;
}

.dashboard-widget-number--title {
	font-size: 1.2em;
}

.dashboard-widget-number--number {
	font-weight: bold;
	font-size: 1.8em;
}
