$column-gutter: 22px;
$block-gutter: 30px;

$dashboard-item-height: 210px;

$primary-color: #f49702;
$primary-color-light: #fbb037;

$secondary-color: #868e96;

$grey: #ededed;
$background-color: #f8f8f8;

$shadow: 0 5px 10px 0 rgba(#000, 0.05);
