<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<h1><f:translate key="title" extensionName="dashboard" /></h1>

<div class="dashboardTabs">
    <f:for each="{availableDashboards}" as="dashboardConfig" key="dashboardKey">
        <f:if condition="{dashboardKey} == {currentDashboard}">
            <f:then><f:variable name="activeClass" value="dashboardTab--active" /></f:then>
        </f:if>
        <f:be.link route="dashboard" parameters="{action: 'setActiveDashboard', currentDashboard: dashboardKey}" class="dashboardTab {activeClass}">
            <f:translate key="{dashboardConfig.label}" />
        </f:be.link>
    </f:for>
</div>

<div class="dashboard-grid">
    <f:for each="{widgets}" as="widget" iteration="widgetIterator" key="widgetHash">
        <div class="dashboard-item dashboard-item--w{widget.width} dashboard-item--h{widget.height}" data-widget-id="{widget.id}" data-widget-hash="{widgetHash}" data-widget-key="{widget.key}" data-widget-config="{widget.config -> f:format.json()}">
            <div class="dashboard-item-content">
                <div class="widget">
                    <div class="widget-waiting">
                        <core:icon identifier="spinner-circle" size="large" />
                    </div>
                    <div class="widget-content hide"></div>
                    <div class="widget-move"><core:icon identifier="dragdrop"></core:icon></div>
                    <f:be.link class="widget-remove" route="dashboard" parameters="{action: 'removeWidget', widgetHash: widgetHash}" data="{title: '{f:translate(key: \'widget.remove.confirm.title\', extensionName: \'dashboard\')}', message: '{f:translate(key: \'widget.remove.confirm.message\', extensionName: \'dashboard\')}', button-ok-text: '{f:translate(key: \'widget.remove.button.ok\', extensionName: \'dashboard\')}', button-close-text: '{f:translate(key: \'widget.remove.button.close\', extensionName: \'dashboard\')}'}"><i class="fa fa-times"></i></f:be.link>
                </div>
            </div>
        </div>
    </f:for>
</div>
<div class="dashboard-add-item">
    <a href="{addWidgetUri}" class="btn btn-default dashboard-add-widget" data-modal-title="{f:translate(key: 'widget.add', extensionName: 'dashboard')}" data-button-close-text="{f:translate(key: 'widget.add.button.close', extensionName: 'dashboard')}" data-button-ok-text="{f:translate(key: 'widget.add.button.ok', extensionName: 'dashboard')}">
        <i class="fa fa-plus fa-fw"></i> <f:translate key="widget.add" extensionName="dashboard" />
    </a>
</div>

<div id="widgetSelector" class="hide">
    <div>
        <select name="widget">
            <f:for each="{availableWidgets}" as="availableWidgetConfig" key="availableWidgetKey">
                <option value="{availableWidgetKey}"><f:translate key="{availableWidgetConfig.title}" default="{availableWidgetConfig.title}" /></option>
            </f:for>
        </select>
    </div>
</div>
</html>
