<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="dashboardHeader">
    <h1>
        <f:translate key="title" extensionName="dashboard"/>
    </h1>

    <div class="dashboardTabs">
        <f:if condition="{availableDashboards -> f:count()} > 1">
            <f:for each="{availableDashboards}" as="dashboardConfig" key="dashboardKey">
                <f:be.link route="dashboard" parameters="{action: 'setActiveDashboard', currentDashboard: dashboardKey}" class="dashboardTab {f:if(condition: '{dashboardKey} == {currentDashboard}', then: 'dashboardTab--active')}">
                    <f:translate key="{dashboardConfig.label}" default="{dashboardConfig.label}"/>
                </f:be.link>
                <f:if condition="{dashboardKey} == {currentDashboard}">
                    <f:variable name="currentDashboardName" value="{f:translate(key: '{dashboardConfig.label}', default: '{dashboardConfig.label}')}" />
                </f:if>
            </f:for>
        </f:if>
        <a href="{addDashboardUri}" class="js-dashboard-modal dashboardControl" data-modal-identifier="add" data-modal-title="{f:translate(key: 'dashboard.add', extensionName: 'dashboard')}" data-button-close-text="{f:translate(key: 'dashboard.add.button.close', extensionName: 'dashboard')}" data-button-ok-text="{f:translate(key: 'dashboard.add.button.ok', extensionName: 'dashboard')}">
            <core:icon identifier="actions-add" alternativeMarkupIdentifier="inline" /><span class="sr-only"><f:translate key="dashboard.add" extensionName="dashboard"/></span>
        </a>
    </div>

    <div class="dashboardConfiguration">
        <a href="{configureDashboardUri}" class="js-dashboard-modal" data-modal-identifier="configure" data-modal-title="{f:translate(key: 'dashboard.configure', extensionName: 'dashboard')}" data-button-close-text="{f:translate(key: 'dashboard.add.button.close', extensionName: 'dashboard')}" data-button-ok-text="{f:translate(key: 'dashboard.add.button.ok', extensionName: 'dashboard')}">
            <core:icon identifier="dashboard-action-configure" alternativeMarkupIdentifier="inline" /><span class="sr-only"><f:translate key="dashboard.configure" extensionName="dashboard"/></span>
        </a>
    </div>
</div>

<f:if condition="{widgetsOnCurrentDashboard}">
    <f:then>
        <div class="dashboard-grid">
            <f:for each="{widgetsOnCurrentDashboard}" as="widget" iteration="widgetIterator" key="widgetHash">
                <div class="dashboard-item dashboard-item--w{widget.width} dashboard-item--h{widget.height} {widget.additionalClasses}" data-widget-id="{widget.id}" data-widget-hash="{widgetHash}" data-widget-key="{widget.identifier}" data-widget-config="{widget.config -> f:format.json()}">
                    <div class="dashboard-item-content">
                        <div class="widget">
                            <div class="widget-waiting">
                                <core:icon identifier="spinner-circle" size="large"/>
                            </div>
                            <div class="widget-content hide"></div>
                            <div class="widget-actions">
                                <div class="widget-move">
                                    <core:icon identifier="dashboard-action-dragdrop" alternativeMarkupIdentifier="inline"/>
                                </div>
                                <f:be.link class="widget-remove" route="dashboard" parameters="{action: 'removeWidget', widgetHash: widgetHash}" data="{title: '{f:translate(key: \'widget.remove.confirm.title\', extensionName: \'dashboard\')}', message: '{f:translate(key: \'widget.remove.confirm.message\', extensionName: \'dashboard\')}', button-ok-text: '{f:translate(key: \'widget.remove.button.ok\', extensionName: \'dashboard\')}', button-close-text: '{f:translate(key: \'widget.remove.button.close\', extensionName: \'dashboard\')}'}">
                                    <core:icon identifier="dashboard-action-close" alternativeMarkupIdentifier="inline"/>
                                </f:be.link>
                            </div>
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </f:then>
    <f:else>
        <div class="dashboard-empty">
            <div class="dashboard-empty-content">
                <h3><f:translate key="dashboard.empty.content.title" extensionName="dashboard" /></h3>
                <p><f:translate key="dashboard.empty.content.description" extensionName="dashboard" /></p>
                <p>
                    <a href="{addWidgetUri}" class="js-dashboard-addWidget dashBoardButton-addItem" data-modal-title="{f:translate(key: 'widget.add', extensionName: 'dashboard')}" data-button-close-text="{f:translate(key: 'widget.add.button.close', extensionName: 'dashboard')}" data-button-ok-text="{f:translate(key: 'widget.add.button.ok', extensionName: 'dashboard')}">
                        <core:icon identifier="actions-add" alternativeMarkupIdentifier="inline" /> <f:translate key="dashboard.empty.content.button" extensionName="dashboard" />
                    </a>
                </p>
            </div>
        </div>
    </f:else>
</f:if>

<div class="dashboard-add-item">
    <a href="{addWidgetUri}" class="js-dashboard-addWidget dashBoardButton-addItem" data-modal-title="{f:translate(key: 'widget.add', extensionName: 'dashboard')}" data-button-close-text="{f:translate(key: 'widget.add.button.close', extensionName: 'dashboard')}" data-button-ok-text="{f:translate(key: 'widget.add.button.ok', extensionName: 'dashboard')}">
        <core:icon identifier="actions-add" alternativeMarkupIdentifier="inline" /><span class="sr-only"><f:translate key="widget.add" extensionName="dashboard"/></span>
    </a>
</div>

<div id="widgetSelector" class="hide">
    <div role="tabpanel">
        <ul class="nav nav-tabs t3js-tabs" id="widget-selector" role="tablist">
            <f:for each="{groupConfigurations}" as="groupConfiguration" iteration="iterator">
                <li class="t3js-tabmenu-item {f:if(condition: '{iterator.isFirst}', then: 'active')}">
                    <a id="tab-{groupConfiguration.identifier}" data-toggle="tab" href="#{groupConfiguration.identifier}" role="tab" aria-controls="{groupConfiguration.identifier}" aria-selected="true"><f:translate key="{groupConfiguration.label}" default="{groupConfiguration.label}"/></a>
                </li>
            </f:for>
        </ul>
        <div class="widgetSelector-content tab-content">
            <f:for each="{groupConfigurations}" as="groupConfiguration" iteration="iterator">
                <div class="tab-pane dashboardModal-items {f:if(condition: '{iterator.isFirst}', then: 'active')}" id="{groupConfiguration.identifier}" role="tabpanel" aria-labelledby="{groupConfiguration.identifier}-tab">
                    <f:for each="{groupConfiguration.widgets}" as="widgetConfiguration" key="widgetIdentifier">
                        <div class="dashboardModal-item">
                            <f:be.link class="dashboardModal-item-block" route="dashboard" target="list_frame" parameters="{action: 'addWidget', widget: widgetIdentifier}">
                                <f:if condition="{widgetConfiguration.iconIdentifier}">
                                    <div class="dashboardModal-item-icon">
                                        <core:icon size="default" alternativeMarkupIdentifier="inline" identifier="{widgetConfiguration.iconIdentifier}"/>
                                    </div>
                                </f:if>
                                <div class="dashboardModal-item-details">
                                    <div class="dashboardModal-item-title">
                                        <f:translate key="{widgetConfiguration.title}" default="{widgetConfiguration.title}"/>
                                    </div>
                                    <f:if condition="{widgetConfiguration.description}">
                                        <div class="dashboardModal-item-description">
                                            <f:translate key="{widgetConfiguration.description}" default="{widgetConfiguration.description}"/>
                                        </div>
                                    </f:if>
                                </div>
                            </f:be.link>
                        </div>
                    </f:for>
                </div>
            </f:for>
        </div>
    </div>
</div>

<div id="dashboardModal-add" class="hide">
    <f:form actionUri="{addDashboardUri}" class="dashboardModal-form" target="list_frame">
            <div class="dashboardModal-formInput form-group">
                <label for="dashboardModal-title"><f:translate key="dashboard.title" extensionName="dashboard" /></label>
                <f:form.textfield name="dashboard-title"  id="dashboardModal-title" class="form-control" required="required" />
            </div>

            <div class="dashboardModal-items">
                <f:for each="{dashboardConfigurations}" as="availableDashboardConfig" key="availableDashboardKey">
                    <f:if condition="!{availableDashboardConfig.excludeFromWizard}">
                        <div class="dashboardModal-item">
                            <f:form.radio id="dashboardKey-{availableDashboardKey}" name="dashboard" class="dashboardModal-item-checkBox" value="{availableDashboardKey}" />
                            <label for="dashboardKey-{availableDashboardKey}" class="dashboardModal-item-block">
                                <f:if condition="{availableDashboardConfig.iconIdentifier}">
                                    <span class="dashboardModal-item-icon u-display--block">
                                        <core:icon size="default" alternativeMarkupIdentifier="inline" identifier="{availableDashboardConfig.iconIdentifier}"/>
                                    </span>
                                </f:if>
                                <span class="dashboardModal-item-details u-display--block">
                                    <span class="dashboardModal-item-title u-display--block">
                                        <f:translate key="{availableDashboardConfig.label}" default="{availableDashboardConfig.label}"/>
                                    </span>
                                    <f:if condition="{availableDashboardConfig.description}">
                                        <span class="dashboardModal-item-description u-display--block">
                                                <f:translate key="{availableDashboardConfig.description}" default="{availableDashboardConfig.description}"/>
                                        </span>
                                    </f:if>
                                </span>
                            </label>
                        </div>
                    </f:if>
                </f:for>
            </div>

            <div class="dashboardModal-submit">
                <f:form.submit value="{f:translate(key: 'dashboard.create', extensionName: 'dashboard')}" class="dashboardModal-button"/>
            </div>

        </f:form>
</div>

<div id="dashboardModal-configure" class="hide">
    <div class="dashboard-modal-items">
        <f:form actionUri="{configureDashboardUri}" class="dashboardModal-form" target="list_frame">
            <f:form.hidden name="currentDashboard" value="{currentDashboard}" />
            <div class="dashboardModal-formInput form-group">
                <label for="dashboardModal-title"><f:translate key="dashboard.title" extensionName="dashboard" /></label>
                <f:form.textfield name="dashboard[label]"  id="dashboardModal-title" class="form-control" value="{currentDashboardName}" required="required" />
            </div>

            <div class="dashboardModal-submit">
                <f:form.submit value="{f:translate(key: 'dashboard.save', extensionName: 'dashboard')}" class="dashboardModal-button"/>
            </div>
        </f:form>
    </div>
</div>
</html>
