<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<h1><f:translate key="{currentDashboardLayoutConfiguration.label}" default="{currentDashboardLayout}" /></h1>

<f:for each="{currentDashboardLayoutConfiguration.rows}" as="row" iteration="rowIterator">
    <div class="row">
        <f:for each="{row.cols}" as="col" iteration="colIterator">
            <div class="col-sm-{col.colspan}">
                <f:variable name="location">{rowIterator.index}-{colIterator.index}</f:variable>
                <f:variable name="widgetData">{widgets.{location}}</f:variable>

                <f:if condition="{widgetData.render.html}">
                    <f:then>
                        <f:render section="widget" arguments="{widgetData: widgetData.render, location: location}" />
                    </f:then>
                    <f:else>
                        <f:render section="widgetEmpty" arguments="{location: location}" />
                    </f:else>
                </f:if>
            </div>
        </f:for>
    </div>
</f:for>

<div id="widgetSelector" class="hide">
    <select name="widget">
        <f:for each="{availableWidgets}" as="widget" key="widgetKey">
            <option value="{widgetKey}">{widget.label}</option>
        </f:for>
    </select>
</div>

<f:section name="widget">
    <div class="card widget">
        <div class="card-header">
            <div class="card-header-body">
                <button type="button"
                        data-confirm-title="{f:translate(key: 'widget.remove.confirm.title')}"
                        data-confirm-text="{f:translate(key: 'widget.remove.confirm.text')}"
                        data-url="{f:uri.action(action: 'removeWidget', arguments: '{data: {location: location}}')}"
                        class="close text-light t3js-dashboard-close-widget"
                        aria-label="{f:translate(key: 'close', default: 'Close')}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="card-title">{widgetData.label}</h1>
            </div>
        </div>
        <div class="card-content">
            <f:format.raw>{widgetData.html}</f:format.raw>
        </div>
    </div>
</f:section>

<f:section name="widgetEmpty">
    <div class="card widget-empty">
        <div class="card-content">
            <p class="card-text text-center">
                <f:link.action action="addWidget" arguments="{data: {location: location, widget: '@widget'}}" class="btn btn-default t3js-dashboard-add-widget" data="{modal-title: '{f:translate(key: \'widget.add\')}'}">
                    <i class="fa fa-plus fa-fw"></i> <f:translate key="widget.add" />
                </f:link.action>
            </p>
        </div>
    </div>
</f:section>
</html>