.dashboard-modal {
	.dashboardModal-items {
		display: flex;
		flex-flow: row wrap;
	}

	.dashboardModal-item {
		width: 100%;
		padding: $column-gutter / 2;

		@media screen and (min-width: 768px) {
			width: 50%;
		}
	}

	.dashboardModal-item-block {
		display: flex;
		align-items: center;
		margin-bottom: $column-gutter / 2;
		height: 100%;
		padding: $block-gutter / 2;
		background-color: #fff;
		box-shadow: $shadow;
	}

	.dashboardModal-item-icon {
		margin-right: $block-gutter / 2;
	}

	.dashboardModal-item-title {
		font-weight: 800;
		font-size: 14px;
	}

	.dashboardModal-item-description {
		margin-top: 5px;
	}
}
