.dashboard-modal {
	.dashboardModal-items {
		display: flex;
		flex-flow: row wrap;
		margin: 0 ($column-gutter / -2) ($column-gutter / 2);
	}

	.dashboardModal-item {
		position: relative;
		width: 100%;
		padding: $column-gutter / 2;

		@media screen and (min-width: 768px) {
			width: 50%;
		}
	}

	.dashboardModal-item-block {
		display: flex;
		align-items: center;
		height: 100%;
		padding: $block-gutter / 2;
		border: 1px solid transparent;
		margin-bottom: $column-gutter / 2;
		background-color: #fff;
		box-shadow: $shadow;
		cursor: pointer;
	}

	.dashboardModal-item-checkBox {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		cursor: pointer;

		&:checked ~ .dashboardModal-item-block {
			border-color: $primary-color;
		}
	}

	.dashboardModal-item-icon {
		margin-right: $block-gutter / 2;
	}

	.dashboardModal-item-title {
		font-weight: 800;
		font-size: 14px;
	}

	.dashboardModal-item-description {
		margin-top: 5px;
	}
}
