.dashboard-modal {
	.widgetSelector-widget {
		width: 50%;
		padding: 0 ($column-gutter / 2) ($column-gutter);
	}

	.widgetSelector-widget-block {
		display: flex;
		align-items: center;
		height: 100%;
		padding: $block-gutter / 2;
		background-color: #fff;
		box-shadow: $shadow;
	}

	.widgetSelector-widget-icon {
		margin-right: $block-gutter / 2;
	}

	.widgetSelector-widget-title {
		margin-bottom: 5px;
		font-weight: 800;
		font-size: 14px;
	}
}
