.dashboardTabs {
	margin-left: $column-gutter;
}

.dashboardTab {
	display: inline-block;
	padding: 10px 13px;
	margin: 0 15px 20px 0;
	background-color: $secondary-color;
	font-size: 14px;
	color: #fff;

	&:hover,
	&:focus {
		background-color: $primary-color-light;
	}
}

.dashboardTab--active {
	background-color: $primary-color;
	pointer-events: none;
}
