.dashboard-item {
	position: absolute;
	z-index: 1;
	width: 320px;
	height: 150px;
	line-height: 30px;
	margin: 0 23px 40px;

	&.muuri-item-positioning {
		z-index: 2;

		.widget-remove {
			display: none;
		}
	}

	&.muuri-item-placeholder {
		z-index: 2;
		margin: 0;
		opacity: 0.5;

		.widget {
			border: 1px dashed #707070;
		}

		.widget-remove {
			display: none;
		}
	}

	&.muuri-item-dragging,
	&.muuri-item-releasing {
		z-index: 9999;
	}

	&.muuri-item-releasing {
		.widget-remove {
			display: none;
		}
	}

	&.muuri-item-dragging {
		cursor: move;
	}

	&.muuri-item-hidden {
		z-index: 0;
	}
}

.dashboard-item--h2 {
	height: 320px;

	&.widget-waiting {
		line-height: 620px;
	}
}

.dashboard-item--w2 {
	width: 620px;
}

.dashboard-item-content {
	position: relative;
	width: 100%;
	height: 100%;
}
