.module.module {
	background-color: $background-color;

	h1 {
		line-height: calc(48 / 32);
		margin-bottom: 20px;
		font-weight: 900;
		font-size: 32px;
	}
}

.dashboard-grid {
	position: relative;
	box-sizing: content-box;
	margin-right: -23px;
	margin-left: -23px;
}

.dashboard-empty {
	position: relative;
	box-sizing: content-box;
	margin-right: -23px;
	margin-left: -23px;
	text-align: center;

	&-content {
		width: 75%;
		background-color: darken($background-color, 10%);
		border: 4px dashed darken($background-color, 20%);
		padding: $block-gutter;
		margin: 0 auto;

		h3 {
			font-size: 200%;
		}
		p {
			font-size: 150%;
		}

		.dashBoardButton-addItem {
			position: unset;
			padding: 1rem 2rem;

			.icon {
				vertical-align: -3px;
			}
		}
	}
}
