.module.module {
	background-color: $background-color;

	h1 {
		line-height: calc(48 / 32);
		margin-bottom: 20px;
		font-weight: 900;
		font-size: 32px;
	}
}

.dashboard-grid {
	position: relative;
	box-sizing: content-box;
	margin-right: -23px;
	margin-left: -23px;
}
