.widget {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 30px;
	background-color: #fff;
	box-shadow: 0 5px 10px 0 rgba(#000, 0.05);
	color: #333;

	&:hover {
		> .widget-remove,
		> .widget-move {
			display: block;
		}
	}
}

.widget-waiting {
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 300px;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.widget-id {
	position: absolute;
	top: 0;
	left: 7px;
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
}

.widget-remove {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	font-size: 20px;
	color: #868e96;
	text-align: center;
	cursor: pointer;

	&:hover,
	&:focus {
		color: #f49702;
	}
}

.widget-move {
	position: absolute;
	top: 0;
	right: 30px;
	display: none;
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	font-size: 20px;
	color: #868e96;
	text-align: center;
	cursor: move;

	&:hover,
	&:focus {
		color: #f49702;
	}
}

.widget-content {
	height: 100%;
}
