.widget {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	box-shadow: $shadow;
	color: #333;

	&:hover {
		.widget-remove,
		.widget-move {
			display: block;
		}
	}
}

.widget-content-main {
	width: 100%;
	height: 100%;
	padding: $block-gutter;
}

.widget-waiting {
	position: absolute;
	top: 50%;
	left: 50%;
	line-height: 300px;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.widget-id {
	position: absolute;
	top: 0;
	left: 7px;
	height: 30px;
	line-height: 30px;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
}

.widget-actions {
	position: absolute;
	top: 20px;
	right: 30px;
	display: flex;
}

.widget-remove,
.widget-move {
	position: relative;
	display: none;
	width: 15px;
	height: 15px;
	color: $secondary-color;
	text-align: center;

	&:hover,
	&:focus {
		color: $primary-color;
	}

	.icon {
		width: 100%;
		height: 100%;
	}
}

.widget-move {
	margin-right: 10px;
	cursor: grab;
}

.widget-content {
	height: 100%;
}

.widget-content-title {
	padding: ($block-gutter / 2) $block-gutter;
	border-bottom: 1px solid $grey;
	font-weight: 900;
	font-size: 16px;
}

.widget-table {
	width: 100%;

	tr {
		&:nth-child(even) {
			background-color: $grey;
		}
	}

	th,
	td {
		padding: 6px 10px;
	}

	thead tr {
		background-color: $primary-color-light;
	}

	th {
		font-weight: 400;
		color: #fff;
	}
}

.widget-table-comment {
	margin-top: 20px;
	font-style: italic;
	color: $secondary-color;
}

.widget-edit {
	width: 45px;
	text-align: center;
}

.widget-editIcon {
	color: #000;

	&:hover,
	&:focus {
		color: #f49702;
	}
}
