.dashBoardButton-addItem {
  display: inline-block;
  padding: 20px;
  background-color: #868e96;
  color: #fff; }
  .dashBoardButton-addItem:hover, .dashBoardButton-addItem:focus {
    background-color: #f49702;
    color: #fff; }

.dashboard-item {
  position: absolute;
  z-index: 1;
  width: 320px;
  height: 150px;
  line-height: 30px;
  margin: 0 23px 40px; }
  .dashboard-item.muuri-item-positioning {
    z-index: 2; }
    .dashboard-item.muuri-item-positioning .widget-remove {
      display: none; }
  .dashboard-item.muuri-item-placeholder {
    z-index: 2;
    margin: 0;
    opacity: 0.5; }
    .dashboard-item.muuri-item-placeholder .widget {
      border: 1px dashed #707070; }
    .dashboard-item.muuri-item-placeholder .widget-remove {
      display: none; }
  .dashboard-item.muuri-item-dragging, .dashboard-item.muuri-item-releasing {
    z-index: 9999; }
  .dashboard-item.muuri-item-releasing .widget-remove {
    display: none; }
  .dashboard-item.muuri-item-dragging {
    cursor: move; }
  .dashboard-item.muuri-item-hidden {
    z-index: 0; }

.dashboard-item--h2 {
  height: 320px; }
  .dashboard-item--h2.widget-waiting {
    line-height: 620px; }

.dashboard-item--w2 {
  width: 620px; }

.dashboard-item-content {
  position: relative;
  width: 100%;
  height: 100%; }

.dashboardTab {
  display: inline-block;
  padding: 10px 13px;
  margin: 0 15px 20px 0;
  background-color: #868e96;
  font-size: 14px;
  color: #fff; }
  .dashboardTab:hover, .dashboardTab:focus {
    background-color: #fbb037; }

.dashboardTab--active {
  background-color: #f49702;
  pointer-events: none; }

.dashboard-widget {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 30px; }

.module.module {
  background-color: #f8f8f8; }
  .module.module h1 {
    line-height: 48 / 32;
    font-weight: 900;
    font-size: 32px; }

.dashboard-grid {
  position: relative;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-right: -23px;
  margin-left: -23px; }

.widget {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  color: #333; }
  .widget:hover > .widget-remove,
  .widget:hover > .widget-move {
    display: block; }

.widget-waiting {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 300px;
  margin-right: -50%;
  transform: translate(-50%, -50%); }

.widget-id {
  position: absolute;
  top: 0;
  left: 7px;
  height: 30px;
  line-height: 30px;
  font-weight: 400;
  font-size: 16px;
  text-align: left; }

.widget-remove {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: 400;
  font-size: 20px;
  color: #868e96;
  text-align: center;
  cursor: pointer; }
  .widget-remove:hover, .widget-remove:focus {
    color: #f49702; }

.widget-move {
  position: absolute;
  top: 0;
  right: 30px;
  display: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: 400;
  font-size: 20px;
  color: #868e96;
  text-align: center;
  cursor: move; }
  .widget-move:hover, .widget-move:focus {
    color: #f49702; }

.widget-content {
  height: 100%; }
/*# sourceMappingURL=dashboard.css.map */