.widget .card-header {
    padding: 1em;
    background-color: #2f2f2f;
    color: #fff;
}

.widget .card-content {
    padding: 1.5em;
}

.widget .card-header .card-title {
}

.widget h3.text-widget--header {
    margin: 10px 0;
    font-size: 2em;
}

.widget-empty .card-content {
    padding: 7em 0;
}

.widget .close {
    color: inherit;
}

.widget .card-loading {
    padding: 1.5em;
}

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.lds-dual-ring {
    position: relative;
}
.lds-dual-ring div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #c3c3c3 transparent #c3c3c3 transparent;
    -webkit-animation: lds-dual-ring 5s linear infinite;
    animation: lds-dual-ring 5s linear infinite;
}
.lds-dual-ring {
    width: 56px !important;
    height: 56px !important;
    -webkit-transform: translate(-28px, -28px) scale(0.28) translate(28px, 28px);
    transform: translate(-28px, -28px) scale(0.28) translate(28px, 28px);
}

.lds-css {
    width: 56px;
    display: inline-block;
}

.widget .chartWrapper {
    width: 75%;
    max-width: 400px;
    display: inline-block;
}

.widget.widget-chart-line .chartWrapper, .widget.widget-chart-bar .chartWrapper {
    width: 100%;
    max-width: none;
}

.widget .chartDescription {
    margin-top: 1em;
}